---
layout: default
title: Home
---


<div class="post">
  <h2 class="post-title">
    Castellano
  </h2>

  <p>
    Soy Jesús Herman Marina, un UX Designer & Front End que reside en Vilanova
    i La Geltrú, cerca de Barcelona. Me apasionan el diseño, el desarrollo y
    emprender. Soy un seguidor de la filosofía Lean Startup. Me encanta diseñar
    y crear aplicaciones web.
  </p>



  <h2 class="post-title">
    English
  </h2>

  <p>
    I'm Jesús Herman-Marina, a UX Designer & Front End developer living in
    Vilanova i La Geltrú, near Barcelona. I’m passionate about design,
    development and entrepreneurship. I embrace the lean startup. I love
    designing and building web apps.
  </p>

</div>


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
